// source: https://thoughtbot.com/blog/you-don-t-need-javascript-for-that
.tooltip-toggle {
    cursor: pointer;
    position: relative;
  
    //Tooltip text container - above element
    //You can adjust the position to make the container appear below or beside the element
    &::before {
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      content: attr(aria-label); //This pulls in the text from the element with the tooltip
      left: -80px; //This centers the container above the element
      padding: 1rem;
      position: absolute;
      text-transform: none;
      top: -80px; //This places the container above the element that needs a tooltip
      transition: all 0.5s ease;
      min-width: 160px;
    }
  
    //Setting up the transition
    &::before {
      opacity: 0;
      pointer-events: none;
    }
  
    //Triggering the transition
    &:focus::before,
    &:hover::before {
      opacity: 1;
      transition: all 0.75s ease;
    }
  }